/**************************TAG SELECTORS**************************/
body {
    background-color: #51C2D5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

h1 {
    color: #EC4646;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
}

p {
    color: #BBF1FA;
}


/** Font options
font-family: 'Montserrat', sans-serif;
font-family: 'Peralta', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive;
**/
/**************************CLASS SELECTORS************************/
.headers {
    color: #663F3F;
    font-size: 3.17rem;

}

.profile {

    margin-top: 100px;
}

/*****************************ID SELECTORS************************/
#cloud-space {
    height: 130px;
    width: 100%;
    position: relative;

}

#top-cloud {
    width: auto;
    height: 150px;
    position: absolute;
    top: 30px;
    margin-left: 80px;

}

#intro {
    position: relative;
    height: 160px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#whand {
    position: absolute;
    height: 150px;
    width:auto;
    left: 0;
    top: 0;
}

#name {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

#web {

    position: absolute;
    top: 130px;
    right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

}

#mountain-home {
    position: relative;
    text-align: center;
    margin: 0 auto 0 auto;
    height: 300px;
    width: 800px;
}

#mountain {
    position: relative;
    height: 380px;

}

#bottom-cloud {
    width: auto;
    height: 150px;
    position: absolute;
    margin-left: 100px;
    top: 0;


}

#me-pic {
    height: 180px;
    width: auto;
}