/**************************TAG SELECTORS**************************/
body {
  background-color: #51C2D5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

h1 {
  color: #EC4646;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  font-weight: 600;
}

h2 {}

p {
  color: #BBF1FA;
}


/** Font options
font-family: 'Montserrat', sans-serif;
font-family: 'Peralta', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive;
**/

/*****************************Mountain area************************/
#my-skills {
  color: #FF7777;
  margin: 20px auto 0 auto;
}

#cloud-space {
  height: 7.5rem;
  width: 800px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#top-cloud {
  width: auto;
  height: 9.375rem;
  position: absolute;
  top: 0px;
  right: 0px;
}

#intro {
  position: relative;
  height: 10rem;
  width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.875rem;
}

#me-pic {
  position: absolute;
  height: 11.25rem;
  width: auto;
  left: 4.688rem;
  top: 0;
  z-index: 10;
}

#name {
  position: absolute;
  right: 0;
  top: 0.938rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

#web {

  position: absolute;
  top:8.125rem;
  right: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 100;
  text-decoration: underline;
}

#bottom-cloud {
  width: auto;
  height: 9.375rem;
  position: absolute;
  left: 0;
  top: 0;
}

#mountain-home {
  position: relative;
  text-align: center;
  margin: 3.125rem  auto 0 auto;
  height: 18.75rem;
  width: 50rem;
}

#mountain {
  position: relative;
  height: 23.75rem;

}

.profile {
  margin-top: 6.25rem;
}

/**************************skill section************************/
.middle-container h3 {
  color: #663F3F;
}

@media (orientation:portrait) {
  #skills-container {
    width: 100%;
  }
}

/**Link edits **/
a:link {
  text-decoration: none;
  color: #F6F6F6;

}

a:visited {
  text-decoration: none;
  color: #FF7777;
}

a:hover {
  text-decoration: underline;
  color: hotpink;

}

a:active {
  text-decoration: underline;
  color: #FFB200;
}

#skills-section {
  height: 800px;
  position: relative;
  width: 70%;
  text-align: center;
  margin: auto;
}

#skills-section h3 {
  color: #663F3F;
}

.skill-top {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
}

.skill-bottom {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
}

.web-right {
  position: absolute;
  right: 0 ;
  height: 100%;
  width: 55%;
}

.web-left {
  height: 100%;
  width: 55%;
  position: absolute;
  left: 0;
}

#web-header2 {}

#web-pic {
  position: absolute;
  right: 15%;
  top: -40px;
}

.pc-left {
  position: absolute;
  left: 0 ;
  height: 100%;
  width: 55%;
}

#pc-pic {
  position: absolute;
  left:15%;
  height: 300px;
  width: auto;
}

.pc-right {
  height: 100%;
  width: 55%;
  position: absolute;
  right: 0;
}

#pc-header {
  margin-top: 0;
}


#contact-me {
  height: 500px;
  width: auto;
  margin: auto auto 0 auto;
}